{{!-- Comments --}}
{{#each comments}}
  <li class="list-group-item">
    <p>{{this.user.username}}
        <span class="text-muted">{{formatDate createdAt}}</span>
    </p>
    <p class="mb-0">{{body}}</p>
  </li>
{{/each}}