{{!-- Create Post --}}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card m-3">
        <div class="card-header">Create Post</div>
        <div class="card-body">
          <form id="create-post-form">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="post-title" />
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <textarea
                class="form-control"
                id="content"
                name="post-body"
                rows="3"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Post ➕</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/createPost.js"></script>
</div>